@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #000000;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #5fa7ff;
}
body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;
}

.container__caixa {
    margin: 0 6em;
}

.principal {
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;


}

.container__titulo {
    font-size: 1.75rem;
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}


.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    color: var(--branco-principal);
    padding: 1em;
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    display: block;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-fundo);
}

.botao_secundario {
    background-color: transparent;

    border: solid 2px var(--branco-principal);
}

.container__aviso {
    font-family: var(--fonte-principal);
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--cinza-secundario);
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-family: var(--fonte-principal);
    font-weight: 700;
    color: var(--branco-principal);
    font-size: 3rem;
    margin-bottom: 0.1em;
}

.descricao__texto {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1rem;
    color: var(--branco-principal);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.secundario__titulo {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
}

.rodape {
    text-align: center;
    margin: 5em 0;
}

.rodape__logo {
    width: 5%;
}

.container__rodape {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.lista__rodape {
    justify-content: center;
    display: flex;
    gap: 50px;
    margin: 40px 0 0 0;
    list-style-type: none;
}

.lista__link a{
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1rem;
    color: var(--branco-principal);
}

.lista__link a:hover {
    color: red;
}

.lista__link a:active {
    color: goldenrod;
}

.rodape__texto {
    font-family: var(--fonte-principal);
    color: var(--cinza-secundario);
    font-weight: 400;
    font-size: 0.87rem;
}