@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #000000;
    --fonte-principal: 'Inter';

}
body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;
}

.container__caixa {
    margin: 0 6em;
}

.principal {
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;


}

.container__titulo {
    font-size: 1.75rem;
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}


.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    color: var(--branco-principal);
    padding: 1em;
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    display: block;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;

    border: solid 2px var(--branco-principal);
}

.container__aviso {
    font-family: var(--fonte-principal);
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--cinza-secundario);
}

